body {
	background-color: #A9E2F3;
}
.btn {
	overflow-x:hidden;
}

.page-header {
	overflow-x: hidden;
}

.loader {
	/*position: absolute;*/
	left: 40%;
  top: 40%;
	width: 150px;
	height: 150px;
/*	border: 16px solid #f3f3f3;*/
	border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}	

.table {
	height: 200px;
}